---
layout: master
title: Home
description: Home Page of Kuprashevich Maksim
---

<div class="container">

	<header class="row">
	  <div class="col-sm-6 col-md-12" style="margin-top:100px;margin-bottom:25px">
	    <h1 id="pin">{{site.title}}</h1>
	  </div>
	</header>
	<nav>
		<div class="row" style="margin-top:25px">
 			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="about/">
					<div class="tile purple profile bord">
						<h2 class="title">About Me</h2>
					</div>
				</a>
		    </div>
			<!-- <div class="col-md-2 col-sm-3 col-xs-6">
				<a href="resume/" title="Resume" class="tile blue bord icon-resume"></a>
			</div> -->

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="resume/" title="Resume" class="tile blue bord icon-resume"></a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="portfolio/" title="Portfolio" class="tile red bord port-ico-text"></a>
			</div>
			<!-- <div data-delay="2000" data-mode="flip" class="live-tile flip ha fix-3">
			<div class="col-md-2 col-sm-3 col-xs-6 flip-front ha " style="transform: rotateX(180deg); transition: all 500ms ease 0s;">
				<a class="tile red bord port-ico" href="portfolio/"></a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 flip-back ha" style="transform: rotateX(360deg); transition: all 500ms ease 0s;">
				<a class="tile red bord port-ico-text" href="portfolio/"></a>
			</div>
			</div> -->

		</div>

		<!-- <div class="row">

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts offset:1 limit:1 %}
				<a href="{{post.url}}">
					<div class="tile green bord">
						<h3 class="title">Recent Article</h3>
						<h4 class="title">{{ post.title }}</h4>
						<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
					</div>
				</a>
				{% endfor %}
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts limit:1 %}
				<a href="{{post.url}}">
					<div class="tile red bord">
						<h3 class="title">Latest Article</h3>
						<h4 class="title">{{ post.title }}</h4>
						<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
					</div>
				</a>
				{% endfor %}
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts %}
					{% if post.featured == true %}
					<a href="{{post.url}}">
						<div class="tile orange bord">
							<h3 class="title">Featured Article</h3>
							<h4 class="title">{{ post.title }}</h4>
							<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
						</div>
					</a>
					{% break %}
					{% endif %}
				{% endfor %}
			</div>
		</div> -->

		<div class="row" style="margin-bottom:25px">

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="https://photos.app.goo.gl/FjqZc1ALQ26JixnR7" title="Photos" class="tile black bord google-ico" target="_blank"></a>
			</div>


			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.linkedin}}"  class="tile green bord lk-ico" target="_blank"></a>
			</div>

			<!-- <div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.vk}}"  class="tile vk_blue bord vk-ico" target="_blank"></a>
			</div> -->

			<!-- <div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.upwork}}" class="tile upwork_green bord uw-ico" target="_blank"></a>
			</div> -->

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.facebook}}" class="tile blue bord fk-ico" target="_blank"></a>
			</div>

			<!-- Mini tile-->
			<div class="col-md-2 col-sm-3 col-xs-6 lside">
				<div class="row">
					<div style="padding-left:0px" class="col-md-6 col-sm-6 col-xs-6">
							<a href="{{site.stackoverflow}}" class="mtile orange bord sto-ico-sm" target="_blank"></a>
					</div>
					<div style="padding-left:0px" class="col-md-6 col-sm-6 col-xs-6">
						<a href="{{site.github}}"  class="mtile black bord gh-ico-sm" target="_blank"></a>
					</div>
				</div>
				<div class="row">
					<div  class="col-md-6 col-sm-6 col-xs-6 rep-1">
						<a href="{{site.coursera}}" class="mtile grey bord cour-ico-sm" target="_blank"></a>
					</div>
					<div  class="col-md-6 col-sm-6 col-xs-6 rep-2">
						<a href="https://t.me/wild_chlamydia" class="mtile telegram_blue bord telegram-ico-sm" target="_blank"></a>
					</div>
				</div>
			</div>
			<!-- End of Mini tile -->

		</div>
	</nav>
</div>
